.invoiceHolder {
    position: fixed;
    top: 0;
    left: 90px;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    @media (max-width: 900px) {
        position: absolute;
        left: 0;
    }
    .invoice-wrapper {
        padding: 56px;
        background-color: #141625;
        border-radius: 0px 20px 20px 0px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #252945;
            border-radius: 4px;
        }
        .createOrEdit {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.5px;
            font-weight: bold;
            color: #ffffff;
        }
        .button-wrapper {
            .right {
                flex: 1;
                justify-content: flex-end;
            }
        }
        section {
            input {
                height: 48px;
                background-color: #1e2139;
                outline: none;
                border-radius: 4px;
                border: 1px solid #252945;
            }
            p {
                font-weight: 700;
                margin-top: 48px;
                color: #7c5dfa;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
            }
            label {
                margin-top: 24px;
                margin-bottom: 10px;
                color: #dfe3fa;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                font-weight: 500;
            }
            .group-one {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 24px;
                input {
                    width: 152px;
                }
            }
            .group-two {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
            }
        }
        button {
            margin-top: 39px;
            font-family: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            border-radius: 50%;
            border: none;
            outline: none;
            border-radius: 24px;
            font-weight: 700;
            &:hover {
                cursor: pointer;
            }
        }
        .discard {
            width: 91px;
            background: #f9fafe;
            color: #7e88c3;
            padding: 10px;
            border: none;
        }
        .draft {
            margin-right: 8px;
            width: 133px;
            background: #373b53;
            color: #dfe3fa;
            padding: 10px;
            border: none;
        }
        .save {
            width: 128px;
            background: #7c5dfa;
            color: #ffffff;
            padding: 10px;
            border: none;
        }
    }
}
