.header {
  margin-top: 72px;
  color: #fff;
  margin-bottom: 65px;
}

@media (max-width: 700px) {
  .header {
    max-width: 330px;
  }
}

.header .left h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
}

@media (max-width: 700px) {
  .header .left h1 {
    font-size: 20px;
  }
}

.header .left span {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: -0.25px;
  color: #dfe3fa;
}

.header .right {
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .header .right {
    margin-left: auto;
  }
}

.header .right .filter {
  font-family: inherit;
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header .right .filter {
    margin-right: 18px;
    margin-left: 4px;
  }
}

.header .right .filter span {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  margin-right: 16px;
  color: #fff;
}

.header .right .filter .filter-menu {
  z-index: 1;
  border-radius: 8px;
  width: 192px;
  top: 40px;
  right: -35px;
  padding: 24px 24px 8px 24px;
  position: absolute;
  list-style: none;
  background-color: #252945;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header .right .filter .filter-menu li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: left;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

.header .right .filter .filter-menu li:hover .checkbox {
  border: 1px solid #7c5dfa;
}

.header .right .filter .filter-menu li .checkbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 17px;
  background: #1e2139;
  border-radius: 2px;
}

.header .right .filter .filter-menu li .active {
  background-color: #7c5dfa;
}

.header .right .new-invoice {
  cursor: pointer;
  height: 48px;
  width: 150px;
  background-color: #7c5dfa;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .right .new-invoice .plus-circle {
  margin-right: 8px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.header .right .new-invoice .plus-circle img {
  width: 10px;
  height: 10px;
}

.header .right .new-invoice p {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
/*# sourceMappingURL=header.css.map */